@charset "utf-8";
/* CSS Document */

body {
	background: #333333;
	font-family: tahoma, arial;
	font-size: 11px;
	font-weight: normal;
	line-height: 15px;
	margin: 0;
	padding: 0;
	text-align: left;
}

#container {
	margin: 0 auto;
	text-align: left;
	width: 952px;
}	

#blank {
	height:15px;
}

#header {
	width: 952px;
}

#logo {	
	background: url(../images/back/title.jpg) no-repeat;
	display: block;
	float: left;
	height: 212px;
	width: 907px;
}

#arrawleft {	
	display: block;
	float: left;
	margin-left: -60px;
	margin-top: 240px;
}

#arrawright {	
	display: block;
	float: left;
	margin-left: 998px;
	margin-top: 240px;
}

#gameinfo {	
	display: block;
	float: left;
	line-height: 7px;
	margin-left: 0px;
	margin-top: -300px;
}

#gameallinfo {	
	display: block;
	float: left;
	width: 483px;
	margin-left: -38px;
	margin-top: -300px;
}

#gameshowbox {	
	display: block;
	float: left;
	margin-left: 620px;
	margin-top: -606px;
}

#gameshownumber {	
	display: block;
	float: left;
	margin-left: 770px;
	margin-top: -40px;
}

#backhead {
	background: url(../images/back/back_head.jpg) no-repeat;
	clear: both;
	display: block;
	height: 24px;
	width: 944px;
}

#backmiddle {
	background: url(../images/back/back_middle.jpg) repeat;
	clear: both;
	display: block;
	height: 650px;
	width: 953px;
}

#backmiddle3 {
	background: url(images/gray_background-hd.jpg) no-repeat;
	clear: both;
	display: block;
	height: 287px;
	width: 953px;
}

#backmiddle4 {
	clear: both;
	display: block;
	height: 255px;
	width: 953px;
	margin-left: 17px;
	margin-top: -255px;
}

#backmiddle5 {
	background: url(../images/back/back_middle.jpg) repeat;
	clear: both;
	display: block;
	height: 20px;
	width: 953px;
}

#backbottom {
	background: url(../images/back/back_bottom.jpg) no-repeat;
	clear: both;
	display: block;
	height: 70px;
	width: 953px;
}

#backbottomline {
	background: url(../images/back/back_bottom_line.jpg) repeat;
	clear: both;
	display: block;
	height: 200px;
	width: 899px;
}

#backcopyright {
	background: url(../images/back/copyright.jpg) no-repeat;
	clear: both;
	display: block;
	height: 120px;
	width: 899px;
}

#dealleft {
	float: left;
	margin-left: -420px;
	margin-top: -140px;
	font-weight: normal;
	line-height: 20px;
	width: 400px;	
}

#dealtext {
	float: left;
	margin-left: 20px;
	font-weight: normal;
	line-height: 20px;
	width: 400px;	
}

#dealline {
	background: url(../images/black_line.jpg) repeat;
	clear: both;
	margin-left: -20px;
	display: block;
	height: 4px;
	width: 530px;
}

#headbutton {
	float: bottom;
	margin-left: 418px;
	margin-top: 5px;
	width: 490px;		
}


#bottombutton {
	float: left;
	margin-left: 22px;
	padding-top: 25px;
	width: 880px;	
}