@charset "utf-8";
/* CSS Document */

body {
	background: #333333;
	font-family: tahoma, arial;
	font-size: 11px;
	font-weight: normal;
	line-height: 15px;
	margin: 0;
	padding: 0;
	text-align: left;
}

#container {
	margin: 0 auto;
	text-align: left;
	width: 952px;
}

#blank {
	height:15px;
}


#header {
	width: 952px;
}

#logo {	
	background: url(../images/back/title.jpg) no-repeat;
	display: block;
	float: left;
	height: 212px;
	width: 907px;
}

#backhead {
	background: url(../images/back/back_head.jpg) no-repeat;
	clear: both;
	display: block;
	height: 24px;
	width: 953px;
}

#backmiddle {
	background: url(../images/back/back_middle.jpg) repeat;
	clear: both;
	display: block;
	height: 1150px;
	width: 953px;
}

#backbottom {
	background: url(../images/back/back_bottom.jpg) no-repeat;
	clear: both;
	display: block;
	height: 70px;
	width: 953px;
}

#backbottomline {
	background: url(../images/back/back_bottom_line.jpg) repeat;
	clear: both;
	display: block;
	height: 200px;
	width: 899px;
}

#backlogo {
	background: url(images/backlogo.jpg) no-repeat;
	display: block;
	float: right;
	padding-left: 120px;
	padding-top: 0px;
	margin-left: 0px;
	margin-top: 280px;
	height: 546px;
	width: 488px;
}

#backcopyright {
	background: url(../images/back/copyright.jpg) no-repeat;
	clear: both;
	display: block;
	height: 120px;
	width: 899px;
}

#dealleft {
	float: left;
	margin-left: -420px;
	margin-top: -260px;
	font-weight: normal;
	line-height: 20px;
	width: 400px;	
}

#dealtext {
	float: left;
	margin-left: 20px;
	font-weight: normal;
	line-height: 20px;
	width: 400px;	
}

#dealjobinfo1 {
	background: url(images/jobs_1.jpg) no-repeat;
	clear: both;
	display: block;
	height: 42px;
	width: 420px;	
}

#dealjobinfo2 {
	background: url(images/jobs_2.jpg) no-repeat;
	clear: both;
	display: block;
	height: 42px;
	width: 420px;	
}

#dealjobinfo3 {
	background: url(images/jobs_3.jpg) no-repeat;
	clear: both;
	display: block;
	height: 42px;
	width: 420px;	
}

#dealjobtext {
	float: left;
	margin-left: 45px;
	font-weight: normal;
	line-height: 20px;
	width: 260px;
}

#dealline {
	background: url(images/black_line.png) repeat;
	clear: both;
	margin-left: -20px;
	display: block;
	height: 30px;
	width: 530px;
}

#headbutton {
	float: bottom;
	margin-left: 417px;
	margin-top: 5px;
	width: 490px;		
}

#bottombutton {
	float: left;
	margin-left: 22px;
	padding-top: 25px;
	width: 880px;	
}